.btn{
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: blue;
    color: white;
    border: 1px solid rgb(29, 4, 122);
    cursor: pointer;
    /* 1000ms = 1s */
    transition: all 0.5s ease;
    /* transition은 before 상태에 배치하는 것이 좋다. */
}
.btn:active{
    background-color: yellow;
    color: black;
}
.btn:hover{
    background-color: red;
    border-radius: 50px;
}