* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  padding: 40px;
  gap: 100px;
}
.content {
  border: 2px solid #d9d9d9;
}
.bb {
  background-color: #d9d9d9;
  color: #999;
}
