#rect{
    width: 150px;
    height: 150px;
    background-color: red;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
}
.box{
    width: 150px;
    height: 150px;
    background-color: blue;
    /* border: 10px solid transparent; */
    border: 10px solid red;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}