*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.pricing{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding: 1rem;
}
.pricing-item{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 2rem;


}
.pricing-item .btn{
    --color: hsl(0, 69%, 37%);
    padding: 1rem 2rem;
    font-size:18px;
    font-weight: bold;
    background-color: white;
    border: 1px solid var(--color);
    color: var(--color);
    border-radius: 1rem;


}
.pricing-item ul li{
    display: flex;
    align-items: start;
    padding: 0.5rem ;
    color: rgb(97, 95, 95);
    
}
.pricing-item p{
    line-height: 1.75;
    color: rgb(97, 95, 95);
}
.pricing-item .cost{
    font-size: 48px;

}
pricing-item.recommend{
    border: 1px solid   red;
}
pricing-item.recommend h2{
    border: 1px solid   red;
    background-color: aqua;
    color: white;
}
pricing-item.recommend .btn{
    background-color: brown;
    color: antiquewhite;
}
@media(min-width:1024px){
    .pricing{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(min-width:1324px){
    .pricing{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(min-width:1424px){
    .pricing{
        grid-template-columns: repeat(4,1fr);
    }
}