*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    position: relative;
    padding: 0 1rem;
    width: fit-content;
}
h1::before{
    position: absolute;
    top: 0;
    left: -1px;
    width: 20px;
    height: 100%;
    content:'"';
}
h1::after{
    position: absolute;
    top: 0;
    left: 95%;
    content:'"';
    
}
/* h1::after,
   h1::before{   
    position: absolute;
    top: 0;
    left: -1px;
    width: 20px;
    height: 100%;

}                        을같이쓰면 한번에 알아볼수있어서 편하다 */