.disContainer {
  width: 100%;
  margin: 100px;
}
.formgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100px;
  background-color: red;
}
.companyTitle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 2px solid #d9d9d9;
}
/* 이것도 저것도 안먹어서 꺼둠 */
/* input {
  border: none;
  outline: none;
  background-color: #f8ebd8;
  padding: 20px 10px;
  width: 100px;
} */
.containerBox {
  width: 70%;
  margin: 40px 10rem 40px 40%;
  /* background-color: #f8ebd8; */
  font-family: Pretendard;
  color: #000000;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
